Notion-Backup/Notion-gDrive.json
{
  "name": "Notion Backup v3",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Notion-Version",
              "value": "2025-09-03"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {\n    \"property\": \"object\",\n    \"value\": \"page\"\n  },\n  \"sort\": {\n    \"direction\": \"descending\",\n    \"timestamp\": \"last_edited_time\"\n  },\n  \"page_size\": 10\n}",
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "type": "body",
                    "name": "start_cursor",
                    "value": "={{ $response.body.next_cursor }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.results[9]['last_edited_time'] < $today.minus({days: trace_days})}}",
              "limitPagesFetched": true,
              "maxRequests": "={{ $json.max_page }}",
              "requestInterval": "={{ $json.size }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        368,
        896
      ],
      "id": "eec87883-6f1b-4f13-bc13-d676ef3e5551",
      "name": "search for updated pages",
      "credentials": {
        "notionApi": {
          "id": "2gAPhzbsQIvdY5Gi",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        896
      ],
      "id": "52ef014c-edda-4ba4-90f7-5ef2b43145b0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -192,
        1136
      ],
      "id": "54d59757-bb3f-4d46-8f87-1fa4b55f086a",
      "name": "Iterate through results"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24041966-781e-4cbe-adaf-8bff5c033488",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "3b39f54f-d829-4138-8064-6d48015c91e4",
              "name": "name",
              "value": "={{$json.properties.Name.title[0].text.content}}",
              "type": "string"
            },
            {
              "id": "6c5cd89a-2d85-4c46-86c5-14cf084dae51",
              "name": "title",
              "value": "={{ $json.properties.title.title[0].text.content }}",
              "type": "string"
            },
            {
              "id": "4f888bf5-7823-4b28-9fdd-bdf3a14d30df",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "19c5db7a-d1f3-4125-8d4e-d754355111a6",
              "name": "last_edited_time",
              "value": "={{ $json.last_edited_time }}",
              "type": "string"
            },
            {
              "id": "491212ec-578c-469e-aeea-c719dda3e1fc",
              "name": "parent_type",
              "value": "={{ $json.parent.type }}",
              "type": "string"
            },
            {
              "id": "9bf80b06-8ef7-4a20-9b2e-adbf5427607e",
              "name": "parent_db_id",
              "value": "={{ $json.parent.database_id }}",
              "type": "string"
            },
            {
              "id": "3eb9fe4a-e615-40a6-bc9d-3e208f57fc86",
              "name": "parent_page_id",
              "value": "={{ $json.parent.page_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        1136
      ],
      "id": "6b5cdcd1-51e8-422b-a240-7c6f9d39ae90",
      "name": "Output Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5e302831-f0a3-4593-8502-8cab921d2015",
              "leftValue": "={{ $json.last_edited_time }}",
              "rightValue": "={{ $today.minus({days: $('setEnvs').item.json.trace_days}) }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        176,
        1136
      ],
      "id": "dac2b425-1e8a-472f-af10-976ad3138ce4",
      "name": "Filter for limited days"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68f6a9fd-8f4a-4e90-b1ad-507747a1d632",
              "name": "trace_days",
              "value": "30",
              "type": "string"
            },
            {
              "id": "50669f12-c811-41a5-9287-24acee3fd6fa",
              "name": "max_page",
              "value": 5,
              "type": "number"
            },
            {
              "id": "80e51076-da1e-4dbe-9bf1-0b5195dff4f6",
              "name": "size",
              "value": "10",
              "type": "string"
            },
            {
              "id": "72b4e9aa-78ae-4bfe-9858-15be57a69533",
              "name": "parent_keys",
              "value": "{}",
              "type": "object"
            },
            {
              "id": "ae4d69ad-0ee1-4590-9d58-658d307f5d00",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        896
      ],
      "id": "a25275dd-e7bc-40b7-897b-5295c42d8e1b",
      "name": "setEnvs"
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1qkb8gZz3TLEIqdpKgSyxV7rKyTezJBAY4NhNaS6EM0o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 664741908,
          "mode": "list",
          "cachedResultName": "pages",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qkb8gZz3TLEIqdpKgSyxV7rKyTezJBAY4NhNaS6EM0o/edit#gid=664741908"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -16,
        896
      ],
      "id": "8cfa5154-5e62-40a8-ae51-45cf5d56d78e",
      "name": "Clear pages",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HbIIDbVPa0EOs8NQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qkb8gZz3TLEIqdpKgSyxV7rKyTezJBAY4NhNaS6EM0o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 664741908,
          "mode": "list",
          "cachedResultName": "pages",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qkb8gZz3TLEIqdpKgSyxV7rKyTezJBAY4NhNaS6EM0o/edit#gid=664741908"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_edited_time",
              "displayName": "last_edited_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        368,
        1136
      ],
      "id": "e74a0086-6251-4a5d-8bf4-077f86335286",
      "name": "update pages",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HbIIDbVPa0EOs8NQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qkb8gZz3TLEIqdpKgSyxV7rKyTezJBAY4NhNaS6EM0o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 2071501476,
          "mode": "list",
          "cachedResultName": "parents",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qkb8gZz3TLEIqdpKgSyxV7rKyTezJBAY4NhNaS6EM0o/edit#gid=2071501476"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "url": "={{ $json.url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "parent_type",
              "displayName": "parent_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        608,
        1520
      ],
      "id": "c443be1e-2111-41c3-b7f6-1866d91134fa",
      "name": "update parents",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HbIIDbVPa0EOs8NQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "url",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        176,
        1344
      ],
      "id": "c9cde324-8c88-43d8-be52-ca16a7b2e080",
      "name": "Remove Dup Parent DB"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "=url",
        "options": {
          "removeOtherFields": false
        }
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        176,
        1520
      ],
      "id": "9a2cfbb6-9d70-45ce-9f69-2f5c1619df29",
      "name": "Remove Dup Page"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "578c1859-59a7-46ad-b325-cd10f4bf9df6",
              "leftValue": "={{ $json.parent_type }}",
              "rightValue": "=workspace",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -192,
        1680
      ],
      "id": "b485f3cc-c365-42b1-95db-3e73fea1f411",
      "name": "Top Level Pages"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5988c3cc-e4f4-4df9-9cd1-b77449916f8c",
              "leftValue": "={{ $json.parent_db_id }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -192,
        1344
      ],
      "id": "126311dc-62d3-4677-87e2-092ae26aa52e",
      "name": "Filter for DB"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5988c3cc-e4f4-4df9-9cd1-b77449916f8c",
              "leftValue": "={{ $json.parent_page_id }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -192,
        1520
      ],
      "id": "3932ea9c-ece8-4fee-935a-f616f59eb6a5",
      "name": "Filter for Page"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f30d026-ffd1-45df-9f2d-820c8f350ddb",
              "name": "parent_type",
              "value": "={{ $json.parent_type }}",
              "type": "string"
            },
            {
              "id": "95873b6c-df04-48d5-ace9-ad45b3e600ec",
              "name": "url",
              "value": "=https://www.notion.so/{{ ($json.parent_db_id).replaceAll('-','')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        1344
      ],
      "id": "eb91a987-a4ec-4063-9a22-567a2ca93d27",
      "name": "output parent DB"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57b9a694-0a57-419d-8433-6220c28c5951",
              "name": "parent_type",
              "value": "={{ $json.parent_type }}",
              "type": "string"
            },
            {
              "id": "fa0cd0f4-7ffd-4832-ac68-2c66687f5ff0",
              "name": "url",
              "value": "=https://www.notion.so/{{ ($json.parent_page_id).replaceAll('-','')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        1520
      ],
      "id": "ebfe9c73-216e-4539-b1ae-4f5012bea77f",
      "name": "output parent page"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1070c82-fb98-41a5-9535-bc9104723464",
              "name": "parent_type",
              "value": "={{ $json.parent_type }}",
              "type": "string"
            },
            {
              "id": "d7751d5a-9fa3-4042-ada2-14ce6cc0ac43",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "b7847715-b009-4b33-a809-4b05f75fa5fa",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        1680
      ],
      "id": "b2e38783-5a12-4d19-9de3-85fbdd89e9ec",
      "name": "output self url"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        368,
        1504
      ],
      "id": "7daca1df-940c-4761-9ff1-e2682d4fa3ba",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1qkb8gZz3TLEIqdpKgSyxV7rKyTezJBAY4NhNaS6EM0o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 2071501476,
          "mode": "list",
          "cachedResultName": "parents",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qkb8gZz3TLEIqdpKgSyxV7rKyTezJBAY4NhNaS6EM0o/edit#gid=2071501476"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        176,
        896
      ],
      "id": "a431fa40-6652-4a07-8679-3ff245830156",
      "name": "Clear parents",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HbIIDbVPa0EOs8NQ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "search for updated pages": {
      "main": [
        [
          {
            "node": "Iterate through results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "setEnvs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterate through results": {
      "main": [
        [
          {
            "node": "Output Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Fields": {
      "main": [
        [
          {
            "node": "Filter for limited days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter for limited days": {
      "main": [
        [
          {
            "node": "update pages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter for DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter for Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Top Level Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setEnvs": {
      "main": [
        [
          {
            "node": "Clear pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear pages": {
      "main": [
        [
          {
            "node": "Clear parents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update parents": {
      "main": [
        []
      ]
    },
    "Remove Dup Parent DB": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top Level Pages": {
      "main": [
        [
          {
            "node": "output self url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Dup Page": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter for DB": {
      "main": [
        [
          {
            "node": "output parent DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter for Page": {
      "main": [
        [
          {
            "node": "output parent page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "output parent page": {
      "main": [
        [
          {
            "node": "Remove Dup Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "output parent DB": {
      "main": [
        [
          {
            "node": "Remove Dup Parent DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "output self url": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "update parents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear parents": {
      "main": [
        [
          {
            "node": "search for updated pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a6a2a0cd-bf4c-4168-afb9-2439d4a5d370",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d532cac2f2fb92b6dc742f3aad9f5fa44adbf1327f6052a9488ddfddbec2ade3"
  },
  "id": "7PLhL7CKC4IdPVGC",
  "tags": []
}
