Notion Backup to gDrive.json
{
  "name": "Notion Backup to gDrive",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "id, name",
        "include": "={{ $json.name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        160,
        224
      ],
      "id": "456598c6-3548-42db-8cfe-44d2e0d6271c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "returnAll": true,
        "filterType": "=",
        "options": {
          "downloadFiles": false,
          "sort": {
            "sortValue": [
              {
                "timestamp": true,
                "key": "last_edited_time",
                "direction": "descending"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        352,
        224
      ],
      "id": "cf93c104-d763-49a7-8cab-39ecefb48011",
      "name": "Get many database pages",
      "credentials": {
        "notionApi": {
          "id": "2gAPhzbsQIvdY5Gi",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "getAll",
        "returnAll": true
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -32,
        224
      ],
      "id": "5943695b-9008-42f5-a4b2-5480c15c1f31",
      "name": "Get many databases",
      "credentials": {
        "notionApi": {
          "id": "2gAPhzbsQIvdY5Gi",
          "name": "Notion account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a05f4a53-79fe-4812-8892-11c6cfb3a135",
              "name": "parent_id",
              "value": "={{ $('Split Out').item.json.id }}",
              "type": "string"
            },
            {
              "id": "174b936f-d5d1-4419-848d-b08ee7c17f49",
              "name": "parent_name",
              "value": "={{ $('Split Out').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "id, name, url",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        224
      ],
      "id": "05d65c60-4500-4438-a5d8-e8a3e987d8cc",
      "name": "set parent fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "id, name, url, parent_id, parent_name",
        "include": "=parent_id, parent_name",
        "options": {
          "destinationFieldName": ""
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        736,
        224
      ],
      "id": "f1d179d0-c40d-4793-9471-038a1088e54d",
      "name": "filter fields to output"
    },
    {
      "parameters": {
        "options": {
          "fileName": "=notion_notes.csv"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        928,
        224
      ],
      "id": "27d19f71-ae14-46a1-b5e3-0b74cf86262a",
      "name": "export structure CSV",
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Notion-Version",
              "value": "2025-09-03"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {\n    \"property\": \"object\",\n    \"value\": \"page\"\n  },\n  \"sort\": {\n    \"direction\": \"descending\",\n    \"timestamp\": \"last_edited_time\"\n  },\n  \"page_size\": 10\n}",
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "type": "body",
                    "name": "start_cursor",
                    "value": "={{ $response.body.next_cursor }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.results[9]['last_edited_time'] < $today.minus({days: trace_days})}}",
              "limitPagesFetched": true,
              "maxRequests": "={{ $json.max_page }}",
              "requestInterval": "={{ $json.size }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        448
      ],
      "id": "a08d552d-e4eb-4c45-b0b5-9c63d06a68a9",
      "name": "search for updated pages",
      "credentials": {
        "notionApi": {
          "id": "2gAPhzbsQIvdY5Gi",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "name": "notion_notes.csv",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1qQESKpg9Bw0w58_2FbwCR90EzNYm9QLx",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        224
      ],
      "id": "d155adab-713e-42b2-8cad-07fbfb35bb69",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "W31bpRb6Hj2XV7Bw",
          "name": "GDrive OAuth"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        352
      ],
      "id": "bc63e18a-6ebb-416c-8152-582f26d49790",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        352,
        448
      ],
      "id": "7e264b40-4184-44dc-a4a4-374da4a43ba2",
      "name": "Iterate through results"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24041966-781e-4cbe-adaf-8bff5c033488",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "3b39f54f-d829-4138-8064-6d48015c91e4",
              "name": "name",
              "value": "={{$json.properties.Name.title[0].text.content}}",
              "type": "string"
            },
            {
              "id": "6c5cd89a-2d85-4c46-86c5-14cf084dae51",
              "name": "title",
              "value": "={{ $json.properties.title.title[0].text.content }}",
              "type": "string"
            },
            {
              "id": "4f888bf5-7823-4b28-9fdd-bdf3a14d30df",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "19c5db7a-d1f3-4125-8d4e-d754355111a6",
              "name": "last_edited_time",
              "value": "={{ $json.last_edited_time }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        448
      ],
      "id": "c60cf540-c76a-4fc1-a086-597591d99920",
      "name": "Output Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5e302831-f0a3-4593-8502-8cab921d2015",
              "leftValue": "={{ $json.last_edited_time }}",
              "rightValue": "={{ $today.minus({days: $('setEnvs').item.json.trace_days}) }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        736,
        448
      ],
      "id": "3e3b43c9-7f55-4acd-affc-4afecfc86014",
      "name": "Filter for limited days"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68f6a9fd-8f4a-4e90-b1ad-507747a1d632",
              "name": "trace_days",
              "value": "30",
              "type": "string"
            },
            {
              "id": "50669f12-c811-41a5-9287-24acee3fd6fa",
              "name": "max_page",
              "value": 5,
              "type": "number"
            },
            {
              "id": "80e51076-da1e-4dbe-9bf1-0b5195dff4f6",
              "name": "size",
              "value": "10",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        448
      ],
      "id": "5d1c5d1b-f3a3-4175-9be2-fd87d5f0e06c",
      "name": "setEnvs"
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1qkb8gZz3TLEIqdpKgSyxV7rKyTezJBAY4NhNaS6EM0o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 664741908,
          "mode": "list",
          "cachedResultName": "pages",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qkb8gZz3TLEIqdpKgSyxV7rKyTezJBAY4NhNaS6EM0o/edit#gid=664741908"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        928,
        448
      ],
      "id": "d7585956-202a-491d-a5f9-d9a0fe10e242",
      "name": "Clear sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HbIIDbVPa0EOs8NQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1qkb8gZz3TLEIqdpKgSyxV7rKyTezJBAY4NhNaS6EM0o/edit?gid=664741908#gid=664741908",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 664741908,
          "mode": "list",
          "cachedResultName": "pages",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qkb8gZz3TLEIqdpKgSyxV7rKyTezJBAY4NhNaS6EM0o/edit#gid=664741908"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_edited_time",
              "displayName": "last_edited_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        448
      ],
      "id": "7308c2e2-457e-419d-850a-a1bba38a9b9a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HbIIDbVPa0EOs8NQ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages": {
      "main": [
        [
          {
            "node": "set parent fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many databases": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set parent fields": {
      "main": [
        [
          {
            "node": "filter fields to output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter fields to output": {
      "main": [
        [
          {
            "node": "export structure CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "export structure CSV": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search for updated pages": {
      "main": [
        [
          {
            "node": "Iterate through results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many databases",
            "type": "main",
            "index": 0
          },
          {
            "node": "setEnvs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterate through results": {
      "main": [
        [
          {
            "node": "Output Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Fields": {
      "main": [
        [
          {
            "node": "Filter for limited days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter for limited days": {
      "main": [
        [
          {
            "node": "Clear sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setEnvs": {
      "main": [
        [
          {
            "node": "search for updated pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear sheet": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "305bced8-35e9-4962-a380-be4c6eac74a2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d532cac2f2fb92b6dc742f3aad9f5fa44adbf1327f6052a9488ddfddbec2ade3"
  },
  "id": "VdM8q1aYlAXVO4jb",
  "tags": []
}