Security-Weekly/Security Weekly.json
{
  "name": "Security Weekly",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                3
              ],
              "triggerAtHour": 11,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -192,
        0
      ],
      "id": "801af10e-425a-42d6-9936-8f95e78db128",
      "name": "Tuesdays"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f7b8fc31-061a-4828-a163-8e7e2f5e752f",
              "name": "ithome",
              "value": "https://www.ithome.com.tw/rss",
              "type": "string"
            },
            {
              "id": "23f9ff53-8586-4dba-a08a-368373f3a777",
              "name": "testuser",
              "value": "={{$env.TESTUSER}}",
              "type": "string"
            },
            {
              "id": "03b34e1e-076c-4b95-bd4e-4ea2787c053a",
              "name": "audience",
              "value": "={{$env.AUDIENCE}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        0
      ],
      "id": "3a07809f-28b7-495d-abbb-e2e75da1d41a",
      "name": "Globals"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"supply_chain\": \"news related with software supply chain\",\n\t\"AI\": \"news related with AI models\",\n    \"action\": \"action items suggested from the point of view of a CISO.\",\n    \"link\": \"link to the news\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        896,
        192
      ],
      "id": "7576c2c1-d0ce-4fc8-a511-28924cc04796",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "multicast",
        "to": "={{ $('Globals').item.json.testuser }}",
        "messages": {
          "values": [
            {
              "text": "={{ $json.summary }}"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        1296,
        -16
      ],
      "id": "a31a6394-cf81-49ff-bf0f-023e079fd66c",
      "name": "Line Messaging",
      "credentials": {
        "lineMessagingApi": {
          "id": "eUoF6V9WeinnU9pI",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"link\": \"https://www.ithome.com.tw/news/172549\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        192
      ],
      "id": "30cd231a-1989-441d-bdba-d806280ab3d4",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "找到資安週報的文章連結後，以下列格式輸出"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "b544793a-3b56-4c03-aab8-90da03ec8e3b",
      "name": "get weekly news url"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        416,
        192
      ],
      "id": "55320328-512e-4dda-a3d7-ce8f2a372c3b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "QQTvNkiw1Eei6R5Y",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let item = $input.first().json.output;\n// console.log (item);\n\n// let summary = 'abc';\nlet summary = '供應鏈：\\n' + item.supply_chain + '\\n\\nAI:\\n ' + item.AI + '\\n\\n建議行動：\\n' + item.action + '\\n\\n' + item.link;\n\n// return $input.all();\nreturn [{ summary }]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -16
      ],
      "id": "8b5a4b9a-884e-4ce9-975e-085db2eddf21",
      "name": "format message"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.link }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You're the CISO of a major compancy. You closely monitor latest security incidents and plan action items and make strategic decisions in response to the news. \nYou will focus on news in the the following areas:\n1. software supply chains, such as vulnerabilities discovered in cloud services, npm packages, office tools and so on.\n2. new attacks related with AI technology or vulnerabilities discovered with AI tools.\n3. action items or strategy in response.\n4. article link\nOutput in the following format in Traditional Chinese"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        752,
        0
      ],
      "id": "1dc344d2-9613-4620-a2e3-1f505bf75cbd",
      "name": "summarize news",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.ithome }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "e9cdd1de-2bf5-4da2-b98d-1da559d63c0e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "send",
        "to": "={{ $('Globals').item.json.testuser }}",
        "messages": {
          "values": [
            {
              "text": "There's some error in the flow. go check it at https://beckie-n8n.zeabur.app/workflow/21nlJfyXdAieKixu/2320bc"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        1104,
        144
      ],
      "id": "2320bc48-10cb-4fb4-87c6-cc21276b4176",
      "name": "error handling",
      "credentials": {
        "lineMessagingApi": {
          "id": "eUoF6V9WeinnU9pI",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        752,
        192
      ],
      "id": "89162240-e5f7-4c5d-b305-9c4d47db516e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "QQTvNkiw1Eei6R5Y",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {
    "format message": [
      {
        "json": {
          "summary": "供應鏈：\nUltralytics AI 函式庫遭供應鏈攻擊：該熱門 Python AI/機器學習套件（PyPI 下載量超過 6000 萬次）的 8.3.41 和 8.3.42 版本被植入惡意程式碼。攻擊者透過入侵 GitHub Actions 工作流程，在套件建置過程中注入加密貨幣挖礦程式。此惡意版本已被上傳至 PyPI 套件庫，影響所有在該期間下載或更新此套件的使用者。\n\nAI:\n 此次攻擊針對廣泛使用的 AI/ML 開發工具 Ultralytics YOLO，該函式庫常用於電腦視覺和物件偵測應用。這顯示 AI 開發生態系統正成為攻擊者的重要目標，因為這些工具通常擁有廣大的開發者社群和企業用戶。攻擊者利用 CI/CD 管線的弱點，在不直接入侵原始碼庫的情況下污染發布版本。\n\n建議行動：\n1. 立即檢查：盤點組織內所有使用 Ultralytics 套件的專案，確認是否安裝了受影響的 8.3.41 或 8.3.42 版本\n2. 緊急更新：將 Ultralytics 升級至官方修復後的安全版本（8.3.43 或更新版本）\n3. 系統掃描：對曾安裝受影響版本的系統進行完整惡意程式掃描，檢查是否有異常的加密貨幣挖礦活動\n4. 強化 CI/CD 安全：審查組織內部的 GitHub Actions 和其他 CI/CD 工作流程安全設定\n5. 套件驗證機制：導入套件完整性驗證機制，考慮使用私有套件庫並進行安全審查\n6. 監控異常：加強監控系統資源使用異常（CPU 使用率突然升高可能為挖礦指標）\n\nhttps://www.ithome.com.tw/news/222739"
        }
      }
    ]
  },
  "connections": {
    "Tuesdays": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "summarize news",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "get weekly news url",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "get weekly news url": {
      "main": [
        [
          {
            "node": "summarize news",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "get weekly news url",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "format message": {
      "main": [
        [
          {
            "node": "Line Messaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "summarize news": {
      "main": [
        [
          {
            "node": "format message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "get weekly news url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "summarize news",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 180,
    "availableInMCP": false,
    "errorWorkflow": "21nlJfyXdAieKixu",
    "timeSavedPerExecution": 5
  },
  "versionId": "44b978dc-406d-46ed-a5e6-6c18fc9fd126",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "062ea64aba2dc73b0b0d16cc9a5bd0c7b8e0d92119bead8dd32f9c6fc5903f72"
  },
  "id": "21nlJfyXdAieKixu",
  "tags": []
}