AI-WatchTower/AI-Watch-Tower.json
{
  "name": "AI Watch Tower",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42f8789c-0f48-45f5-b6da-4c80318b4862",
              "name": "google news",
              "value": "https://news.google.com/rss/search?q=openAI,anthropic,gemini&hl=en-US&gl=US&ceid=US:en",
              "type": "string"
            },
            {
              "id": "80281f84-bfb5-4dcd-9804-2edd60b56de6",
              "name": "openai",
              "value": "https://openai.com/news/rss.xml",
              "type": "string"
            },
            {
              "id": "57ed7f13-5197-4e66-8ceb-98c3f0443192",
              "name": "anthropic",
              "value": "https://www.anthropic.com/engineering",
              "type": "string"
            },
            {
              "id": "7a804409-9b2d-420f-af9a-eed0c99bc94b",
              "name": "gemini",
              "value": "https://developers.googleblog.com/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        16
      ],
      "id": "c2f62faa-6815-4784-827f-e53040164b27",
      "name": "URLs"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"Users say they are seeing ads on ChatGPT. OpenAI says it's not true. - Business Insider\",\n\t\"url\": \"https://news.google.com/rss/articles/CBMigwFBVV95cUxPYTFsZGJRRjJXRTQ3aFRNbXRrcVlTUkVJWklWYlNOSmdUaGozWUJuVml6aFRGeU1YRnBrQnpIOUE1RlJNblh1T0lOYWxWYl9SeGQ3N1B6d0VjVThJSENQM3l2Ym1lMDc2TlA4Z0h5T2pnWFJjTkR0Nnk1Ukk3dDZoS0l1MA?oc=5\",\n    \"pubDate\": \"yyyy-MMM-dd\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1232,
        208
      ],
      "id": "9a91af95-e420-4688-88e6-78918a3c651a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "send",
        "to": "Uf25353ad4ec88dd88dc7db2f3b305a0a",
        "messages": {
          "values": [
            {
              "text": "={{ $json.list }}"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        2720,
        0
      ],
      "id": "ad1d9c86-8355-4843-b475-88c1bf86fdb6",
      "name": "Line Messaging",
      "credentials": {
        "lineMessagingApi": {
          "id": "AoLJzjO2AK0sywR5",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.gemini }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        16
      ],
      "id": "2b9945f9-d2b5-433c-a841-9d2a2e358bc6",
      "name": "fetch gemini html"
    },
    {
      "parameters": {
        "url": "={{ $json.openai }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        -320
      ],
      "id": "e8a705bc-c508-4add-8902-4e05238a4bc0",
      "name": "fetch openai xml"
    },
    {
      "parameters": {
        "url": "={{ $json.anthropic }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        352
      ],
      "id": "85689e86-227f-4bd1-aa87-1e791d31d028",
      "name": "fetch anthropic html"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        336,
        16
      ],
      "id": "3ddddfce-16c7-4601-997b-d50294be9512",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2192,
        192
      ],
      "id": "65f695c6-cbfc-47de-a3dc-b704a383e275",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "kU1W621sgkf1XxM9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet newsList = [];\nfor (const item of $input.all()) {\n  let output = item.json.output;\n  for (const listItem of output) {\n    newsList.push(listItem.summary + '\\n' + listItem.url + '\\n' + listItem.pubDate);\n  }\n  // newsList.push(item.json.output[0]);\n}\n\n// return $input.all();\nreturn [{ list: newsList.join('\\n\\n') }]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        0
      ],
      "id": "b0bb3c4e-b60b-4f90-8913-3b6dcdcd6b98",
      "name": "join links"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[{\n\t\"title\": \"article title\",\n\t\"url\": \"article links\",\n    \"pubDate\": \"article pubDate\",\n    \"summary\": \"A brief summary of the article.\"\n}]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2336,
        208
      ],
      "id": "4e8515c9-a3c4-44ee-bc28-386b370c2d46",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You're a senior tech specialist with focus on latest AI technology development. You will look for new articles from yesterday, pick 1 most valuable article and summarize for your CEO. \n\nselect articles based on\n- new model capabilities\n- engineering insights and experience sharing\n\nOutput in the following format."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1088,
        16
      ],
      "id": "bb1c3723-81d4-4e5e-bfee-3d1ec7367334",
      "name": "get news agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You're a tech specialist. You will read the latest news from the links provided and summarize for your CEO.  For each link, you will open the URL and read the content of it. Summarize each article in Traditional Chinese."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2192,
        0
      ],
      "id": "d823ed31-770e-476b-8a19-e378764a54d2",
      "name": "summarize agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You're a senior tech specialist with focus on latest AI technology development. You will look for new articles from yesterday, pick 1 most valuable article and summarize for your CEO. \n\nselect articles based on\n- new model capabilities\n- engineering insights and experience sharing\n\nOutput in the following format."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1088,
        -320
      ],
      "id": "39d18805-d6fe-4840-a99d-5ace3544c727",
      "name": "get openAI news"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"Users say they are seeing ads on ChatGPT. OpenAI says it's not true. - Business Insider\",\n\t\"url\": \"https://news.google.com/rss/articles/CBMigwFBVV95cUxPYTFsZGJRRjJXRTQ3aFRNbXRrcVlTUkVJWklWYlNOSmdUaGozWUJuVml6aFRGeU1YRnBrQnpIOUE1RlJNblh1T0lOYWxWYl9SeGQ3N1B6d0VjVThJSENQM3l2Ym1lMDc2TlA4Z0h5T2pnWFJjTkR0Nnk1Ukk3dDZoS0l1MA?oc=5\",\n    \"pubDate\": \"yyyy-MM-dd\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1232,
        -144
      ],
      "id": "ef5331c4-6afa-465f-b03e-dc18b026e283",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"Users say they are seeing ads on ChatGPT. OpenAI says it's not true. - Business Insider\",\n\t\"url\": \"https://news.google.com/rss/articles/CBMigwFBVV95cUxPYTFsZGJRRjJXRTQ3aFRNbXRrcVlTUkVJWklWYlNOSmdUaGozWUJuVml6aFRGeU1YRnBrQnpIOUE1RlJNblh1T0lOYWxWYl9SeGQ3N1B6d0VjVThJSENQM3l2Ym1lMDc2TlA4Z0h5T2pnWFJjTkR0Nnk1Ukk3dDZoS0l1MA?oc=5\",\n    \"pubDate\": \"yyyy-MM-dd\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1232,
        528
      ],
      "id": "37981e30-237e-42e3-bb5f-e03f4a4ca066",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You're a senior tech specialist with focus on latest AI technology development. You will look for new articles, pick 1 most valuable article with latest publish date and summarize for your CEO. \n\nselect articles based on\n- new model capabilities\n- engineering insights and experience sharing\n\nOutput in the format provided."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1088,
        352
      ],
      "id": "cf7a478f-2eef-49cd-8dff-569be9e8e9b9",
      "name": "get anthropic news"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1088,
        -128
      ],
      "id": "96989414-ced6-46ce-a1a6-4c561f7f8341",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1dc7oxA4JK3GKMix",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1088,
        208
      ],
      "id": "a862d87e-a4f2-4f9c-957a-24f717a136eb",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "1dc7oxA4JK3GKMix",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1088,
        528
      ],
      "id": "2dcf5a31-fdcf-4e6f-b824-3722bacac154",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "1dc7oxA4JK3GKMix",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet output = [];\nfor (const item of $input.all()) {\n  let listItem = item.json.output;\n  listItem.timestamp = new Date(listItem.pubDate);\n  console.log(listItem);\n  \n  if (listItem.timestamp > $today.minus({days: 1})) {\n    output.push(listItem);\n  }\n}\n\nreturn {output};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        16
      ],
      "id": "230c9d52-fa15-4a4b-906c-317f84a58168",
      "name": "filter and convert Date"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1552,
        0
      ],
      "id": "a952f542-1510-4d3f-aa67-fcc057f7660c",
      "name": "Merge Sources"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "36bbe25a-18ca-442b-808a-48c6b80ef376",
              "leftValue": "={{ $json.output }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthNotEquals",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1968,
        16
      ],
      "id": "a72bfce1-134a-4f61-810a-86736bf9dc82",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "send",
        "to": "Uf25353ad4ec88dd88dc7db2f3b305a0a",
        "messages": {
          "values": [
            {
              "text": "今天 AI 大頭們休假一天~"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        1968,
        368
      ],
      "id": "79f61c5e-f942-44db-8ea9-b676459e4155",
      "name": "Line Messaging1",
      "credentials": {
        "lineMessagingApi": {
          "id": "AoLJzjO2AK0sywR5",
          "name": "Line Messaging account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "URLs": {
      "main": [
        [
          {
            "node": "fetch gemini html",
            "type": "main",
            "index": 0
          },
          {
            "node": "fetch anthropic html",
            "type": "main",
            "index": 0
          },
          {
            "node": "fetch openai xml",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "get news agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "fetch gemini html": {
      "main": [
        [
          {
            "node": "get news agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "summarize agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "join links": {
      "main": [
        [
          {
            "node": "Line Messaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "summarize agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "get news agent": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "summarize agent": {
      "main": [
        [
          {
            "node": "join links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch openai xml": {
      "main": [
        [
          {
            "node": "get openAI news",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "get openAI news",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "get anthropic news",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "fetch anthropic html": {
      "main": [
        [
          {
            "node": "get anthropic news",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Line Messaging": {
      "main": [
        []
      ]
    },
    "get openAI news": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get anthropic news": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "get openAI news",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "get news agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "get anthropic news",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge Sources": {
      "main": [
        [
          {
            "node": "filter and convert Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter and convert Date": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "summarize agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Line Messaging1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bd839b11-7751-46ad-a6ef-556580320874",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d532cac2f2fb92b6dc742f3aad9f5fa44adbf1327f6052a9488ddfddbec2ade3"
  },
  "id": "ULkxkSBi6Xmuzo3E",
  "tags": []
}