AI-WatchTower/AI-Watch-Tower.json
{
  "name": "AI Watch Tower",
  "nodes": [
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"Users say they are seeing ads on ChatGPT. OpenAI says it's not true. - Business Insider\",\n\t\"url\": \"https://news.google.com/rss/articles/CBMigwFBVV95cUxPYTFsZGJRRjJXRTQ3aFRNbXRrcVlTUkVJWklWYlNOSmdUaGozWUJuVml6aFRGeU1YRnBrQnpIOUE1RlJNblh1T0lOYWxWYl9SeGQ3N1B6d0VjVThJSENQM3l2Ym1lMDc2TlA4Z0h5T2pnWFJjTkR0Nnk1Ukk3dDZoS0l1MA?oc=5\",\n    \"pubDate\": \"yyyy-MMM-dd\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        432,
        528
      ],
      "id": "345490da-19d4-4679-be7c-3263941e1275",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "url": "={{ $json.gemini }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        336
      ],
      "id": "98ecfb06-9ccd-48eb-8a53-817cccc3fae8",
      "name": "fetch gemini html"
    },
    {
      "parameters": {
        "url": "={{ $json.openai }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        0
      ],
      "id": "05a10f53-2ceb-422f-acb2-ad4cf6fb7a79",
      "name": "fetch openai xml"
    },
    {
      "parameters": {
        "url": "={{ $json.anthropic }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        672
      ],
      "id": "8f90bfce-da96-4a1b-acd0-5e5e7bcfafea",
      "name": "fetch anthropic html"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -416,
        336
      ],
      "id": "f87d94e9-ce42-4707-9d71-8612478e193e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet newsList = [];\nfor (const item of $input.all()) {\n  let output = item.json.output;\n  for (const listItem of output) {\n    newsList.push(listItem.summary + '\\n' + listItem.url + '\\n' + listItem.pubDate);\n  }\n  // newsList.push(item.json.output[0]);\n}\n\n// return $input.all();\nreturn [{ list: newsList.join('\\n\\n') }]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        320
      ],
      "id": "4d84db69-b1b1-4fcd-a95e-2c1b4c67f70a",
      "name": "join links"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[{\n\t\"title\": \"article title\",\n    \"summary\": \"the insightful summary in Tradiontal Chinese\",\n\t\"url\": \"the url of the article\",\n    \"pubDate\": \"the publish date of the article\"\n}]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1680,
        528
      ],
      "id": "cbd16f4a-a10c-46fe-aee4-ddf8913724a0",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You're a senior tech strategist with focus on latest AI technology development. You will look for news from {{$today.minus({days:1})}}, pick 1 most valuable article for your executive teams.\n\nselect articles based on the weight hiearchy\n\n1. the lastBuildDate field\n2. new model capabilities\n3. engineering insights and experience sharing\n\nOutput in the following format."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        288,
        336
      ],
      "id": "6f17ce82-ac6c-4f50-89f3-68b514f97ea1",
      "name": "get news agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.news }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You're a tech specialist. You will read through all the links provided and summarize for your CEO.  For each link, you will open the URL and read the content of it.  \n- Summarize each article in Traditional Chinese.  \n- Change the pubDate to the format of 'yyyy-MM-dd''\n- Wait until all links are processed \n- Output the result in the following format",
          "enableStreaming": false,
          "batching": {
            "batchSize": 10
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1536,
        320
      ],
      "id": "ec184998-7bae-413d-b61d-e9410e8f3a39",
      "name": "summarize agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You're a senior tech strategist with focus on latest AI technology development. You will look for news from {{$today.minus({days:1})}}, pick 1 most valuable article for your executive teams.\n\nselect articles based on the weight hiearchy\n\n1. the lastBuildDate field\n2. new model capabilities\n3. engineering insights and experience sharing\n\nOutput in the following format."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        288,
        0
      ],
      "id": "cbc82a18-a841-486b-b326-f101f752198f",
      "name": "get openAI news"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"Users say they are seeing ads on ChatGPT. OpenAI says it's not true. - Business Insider\",\n\t\"url\": \"https://news.google.com/rss/articles/CBMigwFBVV95cUxPYTFsZGJRRjJXRTQ3aFRNbXRrcVlTUkVJWklWYlNOSmdUaGozWUJuVml6aFRGeU1YRnBrQnpIOUE1RlJNblh1T0lOYWxWYl9SeGQ3N1B6d0VjVThJSENQM3l2Ym1lMDc2TlA4Z0h5T2pnWFJjTkR0Nnk1Ukk3dDZoS0l1MA?oc=5\",\n    \"pubDate\": \"yyyy-MM-dd\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        432,
        176
      ],
      "id": "0c3e0310-a6a6-41cb-82fd-c7387c7619b7",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"Users say they are seeing ads on ChatGPT. OpenAI says it's not true. - Business Insider\",\n\t\"url\": \"https://news.google.com/rss/articles/CBMigwFBVV95cUxPYTFsZGJRRjJXRTQ3aFRNbXRrcVlTUkVJWklWYlNOSmdUaGozWUJuVml6aFRGeU1YRnBrQnpIOUE1RlJNblh1T0lOYWxWYl9SeGQ3N1B6d0VjVThJSENQM3l2Ym1lMDc2TlA4Z0h5T2pnWFJjTkR0Nnk1Ukk3dDZoS0l1MA?oc=5\",\n    \"pubDate\": \"yyyy-MM-dd\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        432,
        848
      ],
      "id": "97c79cec-1d9f-46ac-8e97-624c932c20b8",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You're a senior tech strategist with focus on latest AI technology development. You will look for news from {{$today.minus({days:1})}}, pick 1 most valuable article for your executive teams.\n\nselect articles based on the weight hiearchy\n\n1. the lastBuildDate field\n2. new model capabilities\n3. engineering insights and experience sharing\n\nOutput in the following format."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        288,
        672
      ],
      "id": "6298cf6b-ce18-499e-acf8-db6c9a9b8ec8",
      "name": "get anthropic news"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        192
      ],
      "id": "27835d2c-1166-42f3-b288-dd06cfeb29bd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "QQTvNkiw1Eei6R5Y",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        528
      ],
      "id": "075695a6-394a-4cd6-ba9a-f21e8342fdc0",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "QQTvNkiw1Eei6R5Y",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        848
      ],
      "id": "555d1dc5-739f-4cf3-9dd0-fa2b7bbc4c76",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "QQTvNkiw1Eei6R5Y",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet news = [];\nfor (const item of $input.all()) {\n  let listItem = item.json.output;\n  listItem.timestamp = new Date(listItem.pubDate);\n  console.log(listItem);\n  \n  if (listItem.timestamp >= $today.minus({days: 1})) {\n    news.push(listItem);\n  }\n}\n\nreturn {news};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        336
      ],
      "id": "ebb04385-17ea-426c-b4d9-4ece59fcb56a",
      "name": "filter and convert Date"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        752,
        320
      ],
      "id": "ce711f28-1292-47d8-b535-9d426514f09e",
      "name": "Merge Sources"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "36bbe25a-18ca-442b-808a-48c6b80ef376",
              "leftValue": "={{ $json.news }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthNotEquals",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1216,
        336
      ],
      "id": "e9592f4a-665a-48d6-a25b-993ed58fa060",
      "name": "If"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1536,
        528
      ],
      "id": "f77c0a1a-a043-4b3c-83a8-a559a2fbc32b",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "QQTvNkiw1Eei6R5Y",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "multicast",
        "to": "={{ $('globals').first().json.audience }}",
        "messages": {
          "values": [
            {
              "text": "={{ $json.list }}"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        2048,
        320
      ],
      "id": "d36a5445-b107-4138-b12c-23295b4f7c24",
      "name": "Line Messaging",
      "credentials": {
        "lineMessagingApi": {
          "id": "eUoF6V9WeinnU9pI",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "operation": "multicast",
        "to": "={{ $('globals').first().json.audience }}",
        "messages": {
          "values": [
            {
              "text": "Relax! No news in the AI world yet!"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        1216,
        688
      ],
      "id": "2aed141b-e18b-47ca-b2e3-9776aafa85c6",
      "name": "Line Messaging Fallback",
      "credentials": {
        "lineMessagingApi": {
          "id": "eUoF6V9WeinnU9pI",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.line.me/v2/bot/followers/ids",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "lineMessagingApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        720
      ],
      "id": "8c3e9b92-d0af-4dbf-9d9a-26b2f1d78566",
      "name": "get Line friends",
      "credentials": {
        "lineMessagingApi": {
          "id": "eUoF6V9WeinnU9pI",
          "name": "Line Messaging account"
        }
      }
    },
    {
      "parameters": {
        "content": "## get LINE followers\nfor verified or premium accounts only",
        "height": 256,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        624
      ],
      "typeVersion": 1,
      "id": "65f92db8-b45d-4cec-81d5-49659dd14ce2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42f8789c-0f48-45f5-b6da-4c80318b4862",
              "name": "google news",
              "value": "https://news.google.com/rss/search?q=openAI,anthropic,gemini&hl=en-US&gl=US&ceid=US:en",
              "type": "string"
            },
            {
              "id": "80281f84-bfb5-4dcd-9804-2edd60b56de6",
              "name": "openai",
              "value": "https://openai.com/news/rss.xml",
              "type": "string"
            },
            {
              "id": "57ed7f13-5197-4e66-8ceb-98c3f0443192",
              "name": "anthropic",
              "value": "https://www.anthropic.com/engineering",
              "type": "string"
            },
            {
              "id": "7a804409-9b2d-420f-af9a-eed0c99bc94b",
              "name": "gemini",
              "value": "https://developers.googleblog.com/",
              "type": "string"
            },
            {
              "id": "664682fe-794f-407a-99f9-cb1ee7b3d1fd",
              "name": "testuser",
              "value": "={{ $env.TESTUSER }}",
              "type": "string"
            },
            {
              "id": "91b17799-2cb7-48ca-9342-2a91d838c1c0",
              "name": "audience",
              "value": "={{ $env.AUDIENCE }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        336
      ],
      "id": "6fc7b143-0faf-42d3-9cf2-2de00efe67ee",
      "name": "globals"
    }
  ],
  "pinData": {},
  "connections": {
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "get news agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "fetch gemini html": {
      "main": [
        [
          {
            "node": "get news agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "join links": {
      "main": [
        [
          {
            "node": "Line Messaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "summarize agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "get news agent": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "summarize agent": {
      "main": [
        [
          {
            "node": "join links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch openai xml": {
      "main": [
        [
          {
            "node": "get openAI news",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "get openAI news",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "get anthropic news",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "fetch anthropic html": {
      "main": [
        [
          {
            "node": "get anthropic news",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get openAI news": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get anthropic news": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "get openAI news",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "get news agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "get anthropic news",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge Sources": {
      "main": [
        [
          {
            "node": "filter and convert Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter and convert Date": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "summarize agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Line Messaging Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "summarize agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Line Messaging": {
      "main": [
        []
      ]
    },
    "get Line friends": {
      "main": [
        []
      ]
    },
    "globals": {
      "main": [
        [
          {
            "node": "fetch gemini html",
            "type": "main",
            "index": 0
          },
          {
            "node": "fetch anthropic html",
            "type": "main",
            "index": 0
          },
          {
            "node": "fetch openai xml",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 180,
    "availableInMCP": false,
    "errorWorkflow": "klLMq8bqVXMr3CK1",
    "timeSavedPerExecution": 1
  },
  "versionId": "20c4ad6c-36f0-4c5e-a648-e4a1f23e72e6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "062ea64aba2dc73b0b0d16cc9a5bd0c7b8e0d92119bead8dd32f9c6fc5903f72"
  },
  "id": "klLMq8bqVXMr3CK1",
  "tags": []
}